src/main/resources/daisy3/rng/daisy3ncx.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar
        ns="http://www.daisy.org/z3986/2005/ncx/"
        xmlns="http://relaxng.org/ns/structure/1.0"
        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
        xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
>
    <a:documentation>
        daisy3ncc.rng
        This file is part of the RelaxNG/Schematron validation
        suite for Daisy 3. All Schematron assertion strings
        can be identifier by the intitial part of the string
        being: '[sch][dtb::d3][type::warning|error][msg::'.
        Last edit by: kalaspuffar 2023-03-15
        catalog-mapped by the PID '-//DAISY//RNG ncx v3//EN'
    </a:documentation>

    <include href="daisy3meta.rng"/>

    <start>
        <ref name="ncx"/>
    </start>

    <define name="ncx">
        <element name="ncx">
            <ref name="attlist.ncx"/>
            <ref name="head"/>
            <ref name="body"/>
        </element>
    </define>

    <define name="attlist.ncx">
        <attribute name="version">
            <value>2005-1</value>
        </attribute>
        <optional>
            <attribute name="lang">
                <ref name="datatype.rfc1766"/>
            </attribute>
        </optional>
        <optional>
            <attribute name="xml:lang">
                <ref name="datatype.rfc1766"/>
            </attribute>
        </optional>
    </define>

    <define name="head">
        <element name="head">
            <interleave>
                <ref name="head.meta"/>
                <ref name="ncx.smilcustomtest" />
            </interleave>
        </element>
    </define>

    <define name="head.title">
        <element name="title">
            <text/>
        </element>
    </define>

    <define name="head.link">
        <zeroOrMore>
            <element name="link">
                <empty/>
                <attribute name="rel"/>
                <attribute name="type"/>
                <attribute name="href"/>
            </element>
        </zeroOrMore>
    </define>

    <define name="head.meta">
        <oneOrMore>
            <ref name="ncx.meta"/>
        </oneOrMore>
    </define>

    <define name="body">
        <ref name="body.firstchild"/>
        <ref name="body.content"/>
    </define>

    <define name="body.firstchild">
        <element name="docTitle">
            <optional>
                <attribute name="id" />
            </optional>
            <ref name="ncx.text"/>
            <ref name="ncx.audio"/>
            <ref name="ncx.img"/>
        </element>
        <optional>
            <element name="docAuthor">
                <optional>
                    <attribute name="id" />
                </optional>
                <ref name="ncx.text"/>
                <ref name="ncx.audio"/>
            </element>
            <ref name="ncx.audio"/>
            <ref name="ncx.img"/>
        </optional>
    </define>

    <define name="body.content">
        <element name="navMap">
            <optional>
                <attribute name="id"/>
            </optional>
            <ref name="body.navmap"/>
        </element>
        <optional>
            <element name="pageList">
                <optional>
                    <attribute name="id"/>
                </optional>
                <optional>
                    <attribute name="class"/>
                </optional>
                <ref name="body.pagelist"/>
            </element>
        </optional>
        <optional>
            <element name="navList">
                <optional>
                    <attribute name="id"/>
                </optional>
                <optional>
                    <attribute name="class" />
                </optional>
                <ref name="body.navlistdiv"/>
            </element>
        </optional>
        <zeroOrMore>
            <element name="navList">
                <attribute name="id"/>
                <attribute name="class"/>
                <ref name="body.navlistdiv"/>
            </element>
        </zeroOrMore>
    </define>

    <define name="body.navmap">
        <zeroOrMore>
            <element name="navPoint">
                <attribute name="id"/>
                <optional>
                    <attribute name="class"/>
                </optional>
                <attribute name="playOrder"/>
                <ref name="ncx.navlabel"/>
                <ref name="ncx.content"/>
                <optional>
                    <ref name="body.navmap"/>
                </optional>
            </element>
        </zeroOrMore>
    </define>

    <define name="body.pagelist">
        <zeroOrMore>
            <element name="pageTarget">
                <attribute name="id"/>
                <attribute name="type"/>
                <optional>
                    <attribute name="value"/>
                </optional>
                <optional>
                    <attribute name="class">
                        <value>pagenum</value>
                    </attribute>
                </optional>
                <attribute name="playOrder"/>
                <ref name="ncx.navlabel"/>
                <ref name="ncx.content"/>
            </element>
        </zeroOrMore>
    </define>

    <define name="body.navlistdiv">
        <element name="navInfo">
            <optional>
                <attribute name="xml:lang"/>
            </optional>
            <optional>
                <attribute name="dir"/>
            </optional>
            <ref name="ncx.text"/>
            <ref name="ncx.audio"/>
            <ref name="ncx.img"/>
        </element>
        <ref name="ncx.navlabel"/>
        <ref name="body.navtargets"/>
    </define>

    <define name="body.navtargets">
        <element name="navTarget">
            <attribute name="id"/>
            <optional>
                <attribute name="value"/>
            </optional>
            <optional>
                <attribute name="class"/>
            </optional>
            <attribute name="playOrder"/>
            <ref name="ncx.navlabel"/>
            <ref name="ncx.content"/>
        </element>
    </define>

    <define name="ncx.audio">
        <optional>
            <element name="audio">
                <optional>
                    <attribute name="id"/>
                </optional>
                <optional>
                    <attribute name="class"/>
                </optional>
                <attribute name="src"/>
                <attribute name="clipBegin"/>
                <attribute name="clipEnd"/>
            </element>
        </optional>
    </define>

    <define name="ncx.navlabel">
        <element name="navLabel">
            <optional>
                <attribute name="xml:lang"/>
            </optional>
            <optional>
                <attribute name="dir"/>
            </optional>
            <ref name="ncx.text"/>
            <ref name="ncx.audio"/>
            <ref name="ncx.img"/>
        </element>
    </define>

    <define name="ncx.content">
        <element name="content">
            <optional>
                <attribute name="id" />
            </optional>
            <attribute name="src"/>
        </element>
    </define>

    <define name="ncx.text">
        <element name="text">
            <optional>
                <attribute name="id"/>
            </optional>
            <optional>
                <attribute name="class"/>
            </optional>
            <ref name="datatype.string"/>
        </element>
    </define>

    <define name="ncx.img">
        <optional>
            <element name="img">
                <optional>
                    <attribute name="id"/>
                </optional>
                <optional>
                    <attribute name="class"/>
                </optional>
                <attribute name="src"/>
            </element>
        </optional>
    </define>

    <define name="ncx.smilcustomtest">
        <optional>
            <element name="smilCustomTest">
                <attribute name="id" />
                <optional>
                    <attribute name="defaultState" />
                </optional>
                <optional>
                    <attribute name="override" />
                </optional>
                <optional>
                    <attribute name="bookStruct" />
                </optional>
            </element>
        </optional>
    </define>

    <define name="ncx.meta">
        <!-- test patterns with rng; occurence with schematron -->
        <element name="meta">
            <optional>
                <attribute name="scheme"/>
            </optional>
            <choice>
                <ref name="ncxUID"> <!-- mandatory exactly one -->
                    <sch:pattern name="ncxUID" id="ncxUID">
                        <sch:rule context="head">
                            <sch:assert test="count(meta[@name='dtb:uid'])=1">
                                [sch][dtb::d3][type::warning][msg::dtb:uid seems not to be in ncx exactly once]
                            </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </ref>

                <ref name="ncxDepth"> <!-- mandatory exactly one -->
                    <sch:pattern name="dtbDepth" id="dtbDepth">
                        <sch:rule context="head">
                            <sch:assert test="count(meta[@name='dtb:depth'])=1">
                                [sch][dtb::d3][type::warning][msg::dtb:depth seems not to be in ncx exactly once]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='1']">
                            <sch:assert test="count(//body/h2)=0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='2']">
                            <sch:assert test="count(//body/h3)=0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='3']">
                            <sch:assert test="count(//body/h4)=0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='4']">
                            <sch:assert test="count(//body/h5)=0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='5']">
                            <sch:assert test="count(//body/h6)=0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>
                        <sch:rule context="head/meta[@name='dtb:depth'][@content='6']">
                            <sch:assert test="count(//body/h6)&gt;0">
                                [sch][dtb::d3][type::warning][msg::meta dtb:depth seems to have incorrect value]
                            </sch:assert>
                        </sch:rule>

                    </sch:pattern>
                </ref>

                <ref name="ncxGenerator"> <!-- optional zeroOrOne -->
                    <sch:pattern name="ncxGenerator" id="ncxGenerator">
                        <sch:rule context="head">
                            <sch:assert test="count(meta[@name='dtb:generator'])&lt;2">
                                [sch][dtb::d3][type::warning][msg::meta dtb:generator seems to occur more than once]
                            </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </ref>

                <ref name="ncxTotalPageCount"> <!-- mandatory exactly one -->
                    <sch:pattern name="ncxTotalPageCount" id="ncxTotalPageCount">
                        <sch:rule context="head">
                            <sch:assert test="count(meta[@name='dtb:totalPageCount'])=1">
                                [sch][dtb::d3][type::warning][msg::dtb:totalPageCount seems not to be in ncx exactly once]
                            </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </ref>

                <ref name="ncxMaxPageNumber"> <!-- mandatory exactly one -->
                    <sch:pattern name="ncxMaxPageNumber" id="ncxMaxPageNumber">
                        <sch:rule context="head">
                            <sch:assert test="count(meta[@name='dtb:maxPageNumber'])=1">
                                [sch][dtb::d3][type::warning][msg::dtb:maxPageNumber seems not to be in ncx exactly once]
                            </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </ref>

                <!-- optional -->
                <!--
                <ref name="ncxOtherMeta">
                    <sch:pattern name="ncxOtherMeta" id="ncxOtherMeta">
                        <sch:rule context="head">
                            <sch:assert test="1 = 1">
                                [sch][dtb::d3][type::warning][msg::dtb:* not allowed, only specified values
                                (generator, uid, depth, maxPageNumber, totalPageCount)]
                            </sch:assert>
                        </sch:rule>
                    </sch:pattern>
                </ref>
                -->
            </choice>
        </element>
    </define>

</grammar>
